$body-bg: #212121;
$text-color: #58bb2b;
$link-color: #a67341;
$link-hover-color: #718456;
$link-hover-decoration: underline;
$site-title-color: #7ea464;
$table-color: #fff;
$table-header-bg: #294f51;
$table-even-row-bg: #5D4037;
$table-markdown-tr-bg: #d8d8e6;
$table-markdown-tr-even-bg: #c7cacc;

body {
    background-color: $body-bg;
    color: $text-color;

    .site-title,
    .site-title:visited {
        color: $site-title-color;
    }

    table {
        color: $table-color;

        th {
            background-color: $table-header-bg;
        }

        tr:nth-child(even) {
            background-color: $table-even-row-bg;
        }

        &.markdown-body {
            tr {
                background-color: $table-markdown-tr-bg;

                &:nth-child(2n) {
                    background-color: $table-markdown-tr-even-bg;
                }
            }
        }
    }
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}